.mobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mobile p {
  font-family: var(--heading);
  font-size: var(--regular);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: capitalize;
}
